	/* Global */

	*{
		box-sizing: border-box;
	}

	img {
		width: 100%;
	}

	@font-face {
		font-family: "Raleway-Regular";
		src: url("..//fonts/raleway.regular.eot");
		src: 
		url("..//fonts/raleway.regular.woff") format("woff"),
		url("..//fonts/raleway.regular.ttf") format("opentype"),
		url("..//fonts/raleway.regular.svg") format("svg");
	}

	@font-face {
		font-family: "Raleway-Medium";
		src: url("..//fonts/raleway.medium.eot");
		src: 
		url("..//fonts/raleway.medium.woff") format("woff"),
		url("..//fonts/raleway.medium.ttf") format("opentype"),
		url("..//fonts/raleway.medium.svg") format("svg");
	}

	@font-face {
		font-family: "Raleway-Semibold";
		src: url("..//fonts/raleway.semibold.eot");
		src: 
		url("..//fonts/raleway.semibold.woff") format("woff"),
		url("..//fonts/raleway.semibold.ttf") format("opentype"),
		url("..//fonts/raleway.semibold.svg") format("svg");
	}

	@font-face {
		font-family: "Raleway-Bold";
		src: url("..//fonts/raleway.bold.eot");
		src: 
		url("..//fonts/raleway.bold.woff") format("woff"),
		url("..//fonts/raleway.bold.ttf") format("opentype"),
		url("..//fonts/raleway.bold.svg") format("svg");
	}

	body{
		margin: 0px;
		padding: 0px;
		font-family: Raleway-Regular!important;
		font-size: 16px;		
	}

	h2 {
		font-size: 32px;
	  	font-weight: 600;
	    font-style: normal;
	    color: #224ead !important;
	    text-transform: uppercase;
	}

	/*******Menu Section*****/

	.logo {
	    position: absolute;
	    top: 0;
	}

	.logo img{
		width: 200px
	}

	.logo .col-lg-12 {
		text-align: left !important;
	}

	.menu-section {
		position: absolute;
		width: 100%;
		text-align: right;
		right: 30px;
		top: 30px;
	}

	.menu-section img {
		width: 50px;
		cursor: pointer;
	}


	/****Section-One******/

	.top-arrow {
		width: 8px;
    	height: 82px;
	}

	.Section-One {
		padding: 15px 0;
		position: relative;
	}

	.Section-One {
		background: url(../img/top-left-bg.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	.Section-One:before {
		background: url(../img/top-bg.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    content: '';
	    width: 620px;
	    right: 0;
	    position: absolute;
	    height: 632px;
	    background-position-y: 20px;
	}

	.bannerimg img{
		display: none;
	}

	.Section-One h1 {
		font-size: 48px;
		color: #3660bb;
		font-weight: normal;
		font-family: Raleway-Regular;
	}


	.Section-One h2 {
		font-family: Raleway-Bold;
		font-size: 60px;
		color: #3660bb;
		font-weight: bold;
	}

	.Section-One p {
		font-family: Raleway-Medium;
		color: #353535;
		font-size: 24px;
		font-weight: 500;
		line-height: 34px;
	}

	.top-area {
		padding: 120px 35px 0 0px;
	}


	/**** section two*******/

	.section-two {
		padding: 80px 0 0 0;
	}

	.delivering-unfair {
		text-align: center;
	}

	.delivering-unfair h2 {
		font-family: Raleway-Semibold;
		font-size: 32px;
	    font-weight: 600;
	    color: #224ead;
	    line-height: 62px;
	    text-transform: uppercase;
	}

	.delivering-unfair p {
		font-family: Raleway-Regular;
		font-size: 22px;
		line-height: normal;
		font-weight: normal;
		color: #353535;
	}

	.delivery-icons {
		padding-top: 60px;
	}

	.delivery-icons img {
		width: 121px;
		height: 94px;
	}

	.delivery-icons h3 {
		font-family: Raleway-Semibold;
		font-size: 16px;
		font-weight: 600;
		color: #353535;
		margin-top: 15px;
		text-transform: uppercase;
	}

	.delivery-icons p {
		font-family: Raleway-Regular;
		font-size: 14px;
		line-height: 1.5;
		color: #353535;
		font-weight: normal;
	}


	/******section third***********/


	.section-three {
		background-image: linear-gradient(to bottom, rgb(206,235,250, 0.1), rgba(110, 124, 230, 0));
		padding-top: 50px;
	}

	.section-three .heading {
		text-align: center;
	}
	.section-three .heading h2 {
		font-family: Raleway-Semibold;
		color: #224ead;
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.section-three .heading p {
		font-family: Raleway-Regular;
		font-size: 22px;
		font-weight: normal;
		color: #353535;
	}

	.approch-details {
		padding-top: 40px;
	}

	.approch-details .planningprocess{
		padding-top: 100px;
    	text-align: right;
	}

	.section-three h3 {
		font-family: Raleway-Bold;
		font-size: 18px;
		font-weight: bold;
	}

	.approch-details p, {
		font-family: Raleway-Semibold;
		font-size: 16px;
		font-weight: normal;
		color: #6e696c;
	}


	.technologyfit {
		margin-top: 50px;
	}

	.diagram {
		display: block;
	}

	.approch-icon img {
		display: none;
	}


/****Get In Touch*start****/

.getintouch {
		border-radius: 7px;
		background-color: #ffffff;
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.31);
		margin: 74px 0;
	}

	.part-one {
		width: 80%;
	    float: left;
	    font-size: 20px !important;
    	padding: 25px 20px 25px 20px;
    	font-weight: bold;
	}

	.getintouch .part-one p {
		font-family: Raleway-Bold;
		margin: 0;
	}

	.getintouch .part-two {
		width: 20%;
		float: left;
	}

	.getintouch button {
	  font-family: Raleway-Bold;
	  width: 197px;
	  height: 48px;
	  object-fit: contain;
	  border-radius: 7px;
	  background-image: linear-gradient(to bottom, #55a2f4, #5463d5);
	  box-shadow: none;
	  font-size: 16px;
  	  font-weight: 600;
  	  color: #fff;
  	  margin-top: 20px;
  	  border: 0;
  	  cursor: pointer;
	}

/****Get In Touch*End****/

	.sftrtech {
	     padding: 80px 0;
	}

	.sftrarchitech {
		width: 359px;
	    height: 359px;
	    padding-top: 55px;
	    text-align: center;
	    border-radius: 12px;
		background-color: #ffffff;
		box-shadow: -9px 11px 12px 0 rgba(0, 0, 0, 0.08);
	}

	.sftrarchitech img {
		width: 70%
	}

	.sftrtech h2 {
		font-family: Raleway-Semibold;
		font-size: 32px;
		font-weight: 600;
		color: #224ead;
		text-transform: uppercase;
		margin-top: 70px;		 
	}

	.sftrtech p {
		font-family: Raleway-Regular;
		font-size: 16px;
		color: #000;
		font-weight: normal;
		margin-top: 20px;
	}




	.section-five {
		text-align: center;
		background: linear-gradient(to top, rgb(206, 235, 250, 0.1), rgb(110, 124, 230, 0.1));
		padding: 70px 0;
		margin-top: 80px; 
	}

	.section-five h2 {
		font-family: Raleway-Semibold;
		font-size: 32px;
		font-weight: 600;
	}




	.Footer{
		background: #000;
	    color: #fff;
	    text-align: center;
	    height: 56px;
	}

	.Footer p {
		font-size: 14px;
	    line-height: 28px;
	    padding-top: 15px;
	    margin: 0;
	}




	.contactus .col-lg-4{
		background: #224ead;
		color: #fff;
		   padding: 64px 50px;
		border-radius: 14px 0 0 14px;	
		position: relative;	
	}

	.contactus h3 {
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 42px;
	}

	.contactus h4 {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 30px;
		position: relative;
	}

	.contactus h4:before {
		content: '';
	    background: url(../img/contactus-border.svg);
	    width: 20px;
	    height: 3px;
	    left: 0;
	    position: absolute;
	    bottom: -8px;
	}

	.contactus ul {
		padding: 0;
	}

	.contactus ul li {
		font-size: 11px;
		margin-top: 15px; 
		position: relative;
		list-style: none;
		left: 35px;
	}

	.contactus ul li:before {
		content: '';
		position: absolute;
		left: -35px;
	}

	.adress:before {
		background: url('../img/location.svg');		
		width: 14px;
		height: 20px;
	}

	.phnno:before {
		background: url('../img/contactnumber.svg');
		width: 18px;
		height: 18px;
	}

	.emailid:before {
		background: url('../img/message.svg');
		width: 20px;
		height: 16px;
	}

	.contactus .col-lg-8 {
		background: linear-gradient(to top, rgb(206, 235, 250, 0.1), rgb(110, 124, 230, 0.1));
		border-radius: 0 14px 14px 0;
		padding: 40px;
	}

	.contactus .col-lg-8 h3{
	 	color: #224ead;
	 	font-size: 22px;
	 	font-weight: 600;
	 	line-height: normal;
	 }

	.contactus form .form-section {
		background: #fff;
	    border-radius: 12px;
	    width: 80%;
	    margin: auto;	
	    box-shadow: 0 10px 20px 0 rgba(48, 55, 62, 0.3); 		
	 }

	.contactus form .form-section .form-control:focus {
		box-shadow: none;
	}

	.contactus form .form-section .form-control {
	 	border: 0;
	 	padding: 0 35px;
	 }

	.contactus form .form-section .form-control {
	    border: 0;
	}

	.contactus form .form-section div {
	    border-bottom: 1px solid #ced4da;
	    padding: 7px 0;
	}

	.submitform {
		text-align: center;
	}

	.submitform button {
		width: 206px;
	    height: 46px;
	    object-fit: contain;
	    border-radius: 11px;
	    background-image: linear-gradient(to bottom, #2c84e2, #5f6edb);
	    margin: 25px 0;
	}



	.textfield {
		border-bottom: 0 !important;
	}

	.social {
		position: absolute;
		bottom: 40px; 
	}

	.social-media {
		padding-left: 0;
	}

	.social-media li {
		display: inline;
		margin-right: 20px; 
	}

	.social-media img {
		width: 20px;
	}

	.section-six {
    	padding: 60px 15%;
	}




	/****White Paper**********/

	.whitepaper-section {
		height: calc(100vh - 56px);
		background: url('../img/whitepaper-bg.svg');
		background-repeat: no-repeat;
	}

	.whitepaper-section h1 {
		font-family: Raleway-Semibold;
		font-size: 32px;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		color: #224ead;
		margin-top: 135px;
	}

	.whitepaper-section p {
		font-family: Raleway-Regular;
		font-size: 14px;
		line-height: 21px;		
		margin-top: 30px;
	}

	.whitepaper-form-section {
		padding-top: 70px;
	}

	.whitepaper-form {
		background: #fff;
	    border-radius: 17px;
	    width: 80%;
	    margin: auto;	
	    box-shadow: 0 10px 20px 0 rgba(48, 55, 62, 0.3);
	    /*overflow: hidden; */
	    position: relative;
	}


	.whitepaper-form .form-control {
	 	border: 0;
	 	padding: 0 35px;
	 }

	.whitepaper-form .form-control {
	    border: 0;
	}

	.whitepaper-form div {
	    border-bottom: 1px solid #ced4da;
	    padding: 15px 0;
	}

	.whitepaper-form .form-control:focus {
		box-shadow: none;
	}


	.subscribe {
		padding-left: 60px !important;
	    border-bottom: 0 !important;
	    padding-bottom: 40px !important;
	}

	.subscribe label {
		font-size: 12px;
		color: #253069;
	}

	.whitepaper-form-section .submitform button {
	    width: 206px;
	    height: 46px;
	    object-fit: contain;
	    border-radius: 11px;
	    background-image: linear-gradient(to bottom, #2c84e2, #5f6edb);
	    margin: 0;
    	margin-top: -20px;
    	z-index: 1;
    	position: relative;
	}

	.greycolor {
		color: rgba(255, 255, 255, 0.6)
	}



	.whitepaper-form:after {
	    content: '';
	    background: #000;
	    width: 300px;
	    height: 300px;
	    position: absolute;
	    z-index: -1;
	    top: -20px;
	    left: -20px;
	    border-radius: 24px;
	    background: rgba(87,100,200,0.18);
		background: -moz-linear-gradient(top, rgba(87,100,200,0.18) 0%, rgba(44,132,226,0.03) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,100,200,0.18)), color-stop(100%, rgba(44,132,226,0.03)));
		background: -webkit-linear-gradient(top, rgba(87,100,200,0.18) 0%, rgba(44,132,226,0.03) 100%);
		background: -o-linear-gradient(top, rgba(87,100,200,0.18) 0%, rgba(44,132,226,0.03) 100%);
		background: -ms-linear-gradient(top, rgba(87,100,200,0.18) 0%, rgba(44,132,226,0.03) 100%);
		background: linear-gradient(to bottom, rgba(87,100,200,0.18) 0%, rgba(44,132,226,0.03) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5764c8', endColorstr='#2c84e2', GradientType=0 );
	}

	.form-heading {
		border-bottom: 0 !important;
		padding: 20px 0 0 0 !important;
	}

	.form-heading h2 {
		text-align: center;
		font-size: 20px;
  		font-weight: 600;
  		color: #224ead;
	}









	/*@media screen and (max-width: 767px) {*/
	@media (max-width: 991px){
		.logo  {
			width: 100%
		}

		.logo .col-lg-12 {
			text-align: center !important;
		}

		.Section-One:before {
				display: none;
		}

		.bannerimg img{
			display: block !important;
			height: 470px;
		}

		.top-area {
			padding: 25px;
			text-align: center;
		}

		.Section-One {
			padding-top: 45px;			
		}

		.Section-One h1 {
			font-size: 24px;
			line-height: 42px;
		}

		.Section-One h2 {
			font-size: 30px;
		}

		.Section-One p {
			font-size: 14px;
			line-height: 21px;
		}

		.menu-section img {
			width: 30px;
		}

		.top-arrow {
			display: none;
		}




		.section-five h2 {
			margin-bottom: 0px;
			font-size: 18px;
			font-weight: 600;
		}






		.section-two{
			text-align: center;
			padding: 0;
		}

		.delivering-unfair h2 {
			font-size: 24px;
    		line-height: 32px;
		}

		.getintouchsection {
			padding: 15px;
		}

		.getintouch {
			padding: 15px 0;
			margin: 20px 0;
		}
		.getintouch .part-one {
			float: none;
			text-align: center;
			width: 100%;
		}

		.getintouch .part-two {
			float: none;
			text-align: center;
			width: 100%;
		}


		.section-three .heading p {
			font-size: 14px;
			line-height: 21px;
		}

		.section-three h3 {
			font-size: 14px;
			line-height: 21px;
		}

		.section-three p {
			font-size: 14px;
			line-height: 21px;
		}


		.delivery-icons h3 {
			font-size: 14px;
			line-height: 21px;
			margin-top: 20px;
		}

		.delivery-icons p {
			font-size: 12px;
			line-height: 18px;
		}




		.section-four {
			text-align: center;
			padding-bottom: 40px;
		}

		.diagram {
			display: none;
		}

		.section-three .col-lg-4 {
			text-align: center;
			padding-top: 0;
		}

		.approch-icon img {
			display: block;
			width: 40%;
			margin: auto;
			margin-bottom: 30px;
		}

		.sftrtech {
			padding: 0;
		}



		.section-five {
			margin-top: 0;
		}





		.section-three .heading h2 {
			font-size: 18px;
			line-height:  24px;
		}

		.sftrtech h2 {
			font-size: 18px;
		}

		.contactus .col-lg-8 {
			padding: 40px 20px;
		}

		.contactus form .form-section {
			width: 100%;
		}

		.social {
			position: static;
			margin-top: 50px;
		}

		.contactus .col-lg-4 {
			border-radius: 0;
			padding: 64px 20px;
			order: 1;
		}

		.contactus ul li {
			left: 0;
		}

		.sftrarchitech {
			width: 100%;
			height: auto;
			padding-top: auto;
			padding: 20px;
		}



		/****Ashish***/

		.section-six {
		    padding: 0;
		}

		.contactus ul {
			padding-left: 40px;
		}

		.whitepaper-section { 
			height: 100%;
			text-align: center;
		}

		.whitepaper-section h1 {
			margin-top:100px; 
		}

		.logo {
			text-align: center;
		}
	}

	


@-webkit-keyframes autofill {
   to {
       background: transparent;
   }
}

input:-webkit-autofill {
   -webkit-animation-name: autofill;
   -webkit-animation-fill-mode: both;
}





/******AShish*****/


	.Live-Stock-Market-Ti {
		font-family: Raleway-Bold;
		font-weight: bold;
		text-align: center;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #224ead;
	}

	.Interactive-Animatio {
		font-family: Raleway-Bold;
		font-weight: bold;
		text-align: center;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #224ead;
	}

	@media (min-width : 320px){

		.tt {
			display: none;
		}

		.pp {
			display: block;
		}

		.section-five-inner {
			padding-top: 30px;
			padding-bottom: 30px;  
		}

		.See-some-of-our-Reus {
			font-size: 18px;
		}

		.Group-22, .Group-13 {
			margin-top: 60px;
		}

		.Live-Stock-Market-Ti {
			font-size: 16px;
		}

		.Interactive-Animatio {
			font-size: 16px;
		}

		.col-md-5 img{
			width:80%;
			height:auto;
		}
	}

	/* Extra Small Devices, Phones */
	@media (min-width : 480px){

		.section-five-inner {
			padding-top: 30px;
			padding-bottom: 30px;  
		}

		.See-some-of-our-Reus {
			font-size: 20px;
		}

		.Group-22, .Group-13 {
			margin-top: 70px;
		}

		.Live-Stock-Market-Ti {
			font-size: 18px;
		}

		.Interactive-Animatio {
			font-size: 18px;
		}

	}

	/* Small Devices, Tablets */
	@media (min-width : 768px){

		.tt {
			display: block;
		}

		.pp {
			display: none;
		}

		.section-five-inner {
			width: 700px;
			padding-top: 40px;
			padding-bottom: 40px;  
		}

		.See-some-of-our-Reus {
			font-size: 22px;
		}

		.Group-22, .Group-13 {
			margin-top: 60px;
		}

		.Live-Stock-Market-Ti {
			font-size: 18px;
		}

		.Interactive-Animatio {
			font-size: 18px;
		}

		.col-md-5 img{
			width:100%;
			height:auto;
		}

	}

	/* Medium Devices, Desktops */
	@media (min-width : 992px){

		.section-five-inner {
			width: 900px;
			padding-top: 60px;
			padding-bottom: 60px;  
		}

		.See-some-of-our-Reus {
			font-size: 28px;
		}

		.Group-22, .Group-13 {
			margin-top: 80px;
		}

		.Live-Stock-Market-Ti {
			font-size: 22px;
		}

		.Interactive-Animatio {
			font-size: 22px;
		}

	}

	/* Large Devices, Wide Screens */
	@media (min-width : 1200px){

		.section-five-inner {
			width: 1100px;
			padding-top: 80px;
			padding-bottom: 80px;  
		}

		.See-some-of-our-Reus {
			font-size: 32px;
		}

		.Group-22, .Group-13 {
			margin-top: 100px;
		}

		.Live-Stock-Market-Ti {
			font-size: 24px;
		}

		.Interactive-Animatio {
			font-size: 24px;
		}

	}

	/* Very Large Devices, Wide Screens */
	@media (min-width : 1440px){

		.section-five-inner {
			width: 1360px;
		}

	}

	/********Thankyou page****Start*********/

	.likepage {
		height: calc(100vh - 56px);
	    background: url(../img/top-left-bg.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    position: relative;
	}

	.likepage:after {
		content: '';
	    background: url(../img/side-bg.svg);
	    background-repeat: no-repeat;
	    width: 600px;
	    height: 540px;
	    position: absolute;
	    right: 0;
	    top: 0;
	}

	.likepage .col-lg-12 {
		text-align: center;
	}

	.likepage .thanks-screen img {
		margin-top: 120px;
		width: 125px;
		height: 113px;
		margin-bottom: 25px;
	}

	.likepage h1 {
		font-family: Raleway-Bold;
		color: #224ead;
		font-size: 32px;
		font-weight: 600;
		text-align: center;
		width: 100%;
		text-transform: uppercase;
	}

	.download-ebook {
		font-family: Raleway-Regular;
		display: none;
	}

	.download-btn {
		text-align: center;
	}

	.download-btn button{
	 	width: 425px;
	  	height: 50px;
	  	border-radius: 6px;
	  	background-image: linear-gradient(to bottom, #2c84e2, #5764c8);
	  	color: #fff;
	  	font-size: 18px;
	  	font-weight: 600;
	  	margin-top: 30px;
	 }

	 .download-btn button span {
	 	position: relative;
	 }

	 .download-btn button .mobbtn:before {
	 	content: '';
	 	background: url('../img/mob0downloadbtn.svg');
	 	position: absolute;
	 	left: 50px;
	 	width: 18px;
	 	height: 16px;
	 	top: 5px;
	 }

	 .download-btn button .webbtn:before {
	 	content: '';
	 	background: url('../img/download-icon.svg');
	 	position: absolute;
	 	left: -30px;
	 	width: 24px;
	 	height: 23px;
	 }


	 .mobbtn {
	 	display: none;
	 }

	 .One-of-our-represent {
		font-family: Raleway-Regular;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: 1px;
		text-align: center;
		color: #224ead;
	  }





	/********Thankyou page***END**********/






	/*@media screen and (max-width: 767px) {*/
	@media (max-width: 991px){

		.likepage .col-lg-12 {
			text-align: center;
		}

		.likepage:after {
		    content: '';
		    background: url(../img/side-bg.svg);
		    background-repeat: no-repeat;
		    width: 150px;
		    height: 540px;
		    position: absolute;
		    right: 0;
		    top: auto;
		    bottom: 0;
		}

		.likepage {
	    	background-size: 200px;
		}


		.likepage h1 {
			font-size: 24px;
		}

		.download-ebook {
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			color: #224ead;
			display: block;
			margin-top: 60px;
			margin-bottom: 0px;
		}
	

		.webbtn {
	 		display: none;
		 }

		 .download-btn button{ 
		 	width: 272px;
		  height: 36px;
		  border-radius: 3px;
		  margin-top: 10px;
		 }

		 .mobbtn {
		 	display: block;
		 }
